*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  color: white;
  
  background-color: black;
  margin: 0px;
  padding: 0;
  background-position: center;
  background-size: cover;
  font-family: calibri;

}
.head1{

 
  text-align: center;
}
.head{
  text-align: center;
  padding-top: 30px;
  height: 900px;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 800px){
  .head1{
    width: 100;
    text-align: center;
  }
  .head{
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    height: 850px;
    
  }
  
}
svg{
  fill: white;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: grey;
}
nav li:first-child{
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
details
a{
  text-decoration: none;

}
.navbar{
  margin-bottom: 30px;
  border-radius: 10px;
  font-family: calibri;
  padding-left: 15px;
}
.navdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.list{
  border-radius: 20px;
}
li{
  list-style: none;
  display: inline-block;
}
li a{
  font-weight: 800;
  color: white;
  font-size: 18px;
  font-weight: bald;
  margin-right: 25px;
  transition: text-decoration 0.3s ease-out;
  
}
li a:hover{
  text-decoration: underline;
}
.logo{
  margin-left: 20px;
}
.logo a{
  font-size: 28px;
  font-weight: 600;
  color: white;
  


}

@media(max-width: 800px){
  li a{
    font-size: 13px;
  }
  
  .logo a{
    
    color: white;
    font-size: 28px;
  }
  .logo{
    margin-left: 0px;
  }
}
.container{
  margin-bottom: 20px;
}
.container p{
  font-size: 24px;

}


.hy{
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 1.1em;
  margin-top: 10px;
}
.hy p{
  font-size: 24px;
  color: white;
}
.bt p{
  font-size: 24px;
}
@media(max-width: 800px){
  .bt, .hy{
    border-radius: 10px;
    background-color: grey;
    width: 90%;
  }


}


.go{
  display: flex;
  justify-content: space-around;
}
.dd{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
@media (max-width: 800px) {
  .go {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.nn1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.nn2{
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
@media(max-width: 800px){
.nn2{
  height: 300px;
  width: 100%;
}
}

.zz img{
  width: 300px;
  transition: transform 3s ease-out;
}
.zz img:hover{
  transform: scale(1.3);
}
@media(max-width: 800px){
  .zz img{
    width:190px;
    height: 220px;
  


  }
  .zz{
    padding: 20px;
    display: flex;
    justify-content: center;
    
  }
}


.talk{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.talk h2{
  font-size: 20px;
}
.get{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get button{
  transition: transform 0.3s ease-out;
  border: none;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.get button:hover{
  transform: scale(1.1);
}
.get button h4{
  font-size: 1.3em;
}
.get button a{
  text-decoration: none;
  color: black;
}
.why{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 2px grey solid;
}
.illus{
  padding: 0px 10px;
  margin-top: 30px;
  display: flex;
  min-height: 130px;
  overflow-x: auto;

}

.illus::-webkit-scrollbar{
  width: 0;
}
.illus .illus1,.illus2,.illus3,.illus4,.illus5,.illus6,.illus7{

  margin-left: 10px;
  min-height: 120px;
  min-width: 120px;

}
@media(min-width: 800px) {
  .illus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
  }
  .illus .illus1,.illus2,.illus3,.illus4,.illus5,.illus6,.illus7{
    margin-top: 10px;
    width: 300px;
    height: 300px;
  }
}
.illus1{
  transition: transform 0.3s ease-out;
  background: url("business.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.illus1:hover{
  transform: scale(0.8);
}

.illus2{
  transition: transform 0.3s ease-out;
  background: url("blog.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.illus2:hover{
  transform: scale(0.8);
}

.illus3{
  transition: transform 0.3s ease-out;
  background: url("personal.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.illus3:hover{
  transform: scale(0.8);
}

.illus4{
  transition: transform 0.3s ease-out;
  background: url("ecommerce.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.illus4:hover{
  transform: scale(0.8);
}

.illus5{
  transition: transform 0.3s ease-out;
  background: url("media.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.illus5:hover{
  transform: scale(0.8);
}

.illus6{
  transition: transform 0.3s ease-out;
  background: url("community.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.illus6:hover{
  transform: scale(0.8);
}

.illus7{
  transition: transform 0.3s ease-out;
  background: url("forum.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.illus7:hover{
  transform: scale(0.8);
}

.illus h1{
  font-size: 20px;
  background-color: black;
}
.now{
  text-align: left;
  padding-left: 10px;
}
.now p{
  font-size: 18px;
}
@media(min-width: 800px){
  .now p{
    font-size: 24px;
  }
  .now{
    padding: 10px;
  }
}
.now p:hover{
  
  background-color: black;
}



.butts{
  text-align: center;
  
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details{
  display: block;
  background: linear-gradient(500deg,black,rgb(61, 57, 57),grey);
  border-radius: 10px;
  margin-top: 20px;
  height: 400px;
}
@media(max-width: 800px){
  .details{
    height: 400px;
  }
}
.small{
  margin: 20px;
  text-align: center;
}

.small h2{
  font-size: 24px;
}


.basic {
  background: linear-gradient(480deg,blue,purple,pink);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 400px;
  margin: 20px 20px;
}
@media(min-width: 800px){
  .basic{

    padding: 40px;
  }
}
#dv {
  margin-top: 8px;
}
.basic h3{
  text-align: center;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  color: black;
  border: 1.5px white solid;
  background-color: white;
  padding: 5px;
}
.basic h3,p{
  font-size: 23px;
}
.basic button{
  padding: 10px;
  border-radius: 20px;
  font-size: 17px;
  background-color: rgb(29, 185, 84);
  border: none;
  transition: transform 0.3s ease-out;
  font-weight: 400;
  cursor: pointer;
}
.basic button a{
  text-decoration: none;
}
.basic button:hover{
  transform: scale(1.1);
}


.packages a{
  color: white;
}

@media(min-width: 800px){
  .packages{
    display: flex;
    justify-content: space-around;
    align-items: center;


  }
}


.bottom{
  border-top:1px grey solid;
  margin-top: 40px;
  padding-top: 30px;
  height: 200px;
}
.call{
  margin-top: 20px;
  height: 500px;
  background: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}
.call h1{
  color: black;
  font-weight: 800;
}
.call {
  font-size: 1.4em;
  margin-left: 25px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 20px;
  transition: transform 0.3s ease-out;
}

@media(max-width: 800px){
  .call{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

  }
}
#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 768px) {
  #myVideo {
    width: 100%;
    
  }
}
.services{
  text-align: center;
}
@media(max-width: 800px){
  .sso{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.sh1 h1{
  font-size: 1.6em;
}
.neck{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.sh1{
  text-align: center;
  border-radius: 10px;
  padding: 0px 10px ;
  width: 400px;
  border: 2px white solid;
}
.sso{
  display: flex;
  justify-content: space-around;

}
.sso1 h4 {
  font-size: 1.3em;
  color: orange;
}
.sso12 h4 {
  font-size: 1.3em;
  color: orange;
}
.sso12 p {
  font-size: 1.3em;
  color: grey;
}
.sso1 p {
  font-size: 1.3em;
  color: grey;
}

.sso1{
  
  padding-bottom: 5px;
  padding-left: 20px;
  border-right: 2px white solid;
  
  width: 450px;
  height: 700px;
  text-align: left;

}
.sso12{
  padding-bottom: 5px;
  padding-left: 20px;
  width: 450px;
  height: 500px;
  text-align: left;

}
@media(max-width: 800px){
  .sso1{
    height: 650px;
    border-right: none;
    border-bottom: 2px white solid;

  }
}
.list1{
  background-image: url("sky.jpg");
}
.merch{
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.condeeds{
  margin: 5px;
  height: 900px;
  border-radius: 10px;
  background: linear-gradient(490deg,pink,rgb(0, 130, 124),rgb(255, 255, 255));



}
.condeeds .numbers{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.numbers h1{
  font-size: 2em;
  color: black;
  font-weight: 800;


}
.numbers2{
  margin-top: 50px;
  background: transparent;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px
}
@media(min-width: 800px){
  .numbers2{
    margin-top: 50px;
    background: transparent;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px
  }
}
.numbers2 button{
  width: 170px;
  height: 40px;
  border-radius: 20px;
  border: none;

}
.numbers2 a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 800;

}
.numbers2 p{
  border: 2px solid white;
  padding: 0px 5px;
  border-radius: 10px;
}
.lower .lower1{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: url("phone.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.lower .lower1 p{
  padding: 10x;
 font-size: 18px;
 font-weight: 600;
 background-color: black;
}
